<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/allemployees.css">
    <link rel="stylesheet" href="../style/department.css">
    <title>Department Employees</title>
</head>
    <header>
        <a href="accueil">LOGO</a>
        <nav>
            <ul>
                <li><a href="/accueil">Home</a></li>
                <li><a href="/allemployees">Employee</a></li>
                <li class="dropdown">
                    <a class="button-teams" href="javascript:void(0)" class="dropbtn">Teams</a>
                    <div class="dropdown-content">
                        {{range .Departments}}
                            <a href="/department/{{.Id}}">{{.Title}}</a>
                        {{end}}
                    </div>
                </li>
            </ul>
        </nav>
        <i class="material-icons" style="font-size:50px;">account_circle</i>
    </header>
<body>

    <section class="employees">
        <div class="seeEmployees">
            <button class="filter-employees">Filter by:</button>
        </div>
        <section class="employee-zone">
        {{range .Employees}}
            <div class="employee-Info">
                <div class="employee-personnal-info">
                    <p>First Name: {{.FirstName}}</p>
                    <p>Last Name: {{.LastName}}</p>
                    <p>Phone Number: {{.Phone}}</p>
                    <p>Address: {{.Address}}</p>
                    <p>Birthdate: {{.Birthday}}</p>
                </div>
                <div class="employee-working-info">
                    <p>Department: {{.Department}}</p>
                    <p>Post: {{.PostTitle}}</p>
                    <p>Wage: {{.Wage}}</p>
                    <p>Manage By: {{.ReferentName}}</p>
                </div>
                <a href="/editemployee" class="edit-employee">Edit</a>
            </div>
        {{end}}
        </section>

    </section>

</body>
</html>