<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/employees.css">
    <title>Accueil</title>
</head>
<header>
    <a href="accueil">LOGO</a>
    <nav>
        <ul>
            <li><a href="/accueil">Home</a></li>
            <li><a href="/allemployees">Employee</a></li>
            <li class="dropdown">
                <a class="button-teams" href="javascript:void(0)" class="dropbtn">Teams</a>
                <div class="dropdown-content">
                    {{range .Departments}}
                        <a href="/department/{{.Id}}">{{.Title}}</a>
                    {{end}}
                </div>
            </li>
        </ul>
    </nav>
    <i class="material-icons" style="font-size:50px;">account_circle</i>
</header>
<body>

    <form id="newEmployee" action="/editemployee" method="post">

      <h1>Edit employee personal informations</h1>
      <input type="hidden" name="firstname" value="{{.FirstNameSend}}">
      <section class="employee-zone">
        <section class="employee-info-zone">
            <section class="employee-personnal-info-left">
              <div>
                  <label for="lastName">Last Name :</label><br>
                  <input type="text" id="lastName" name="lastName" required>
              </div>
              <div>
                  <label for="firstName">First Name :</label><br>
                  <input type="text" id="firstName" name="firstName" required>
              </div>
              <div>
                  <label for="phoneNumber">Phone Number:</label><br>
                  <input type="text" id="phoneNumber" name="phoneNumber" required>
              </div>
            </section>
            <section class="employee-personnal-info-right">
              <div>
                  <label for="adress">Address :</label><br>
                  <input type="text" id="adress" name="adress" required>
              </div>
              <div class="birthdaye-input">
                  <label for="birthday">Birthday date :</label><br>
                  <input type="date" id="birthday" name="birthday" required>
              </div>
            </section>
        </section>
        <section class="employee-work-zone">
            <div>
                <label for="department">Department :</label><br>
                <select id="department" name="department" required>
                    {{range .Departments}}
                        <option value="{{.Id}}">{{.Title}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <label for="post">Post :</label><br>
                <select id="posts" name="posts" required> 
                    {{range .Posts}}
                        <option value="{{.ID}}">{{.Title}}</option>
                    {{end}}
                </select>
            </div>
            <div>
                <label for="manageBy">Manage By :</label><br>
                <select id="manageBy" name="manageBy" required>
                    {{range .Referents}}
                        <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
        </section>
    </section>
    <button type="submit">Edit</button>
    </form>
</body>
</html>